run = "npm run dev"
entrypoint = "src/App.jsx"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npx serve dist -s -l 3000"]
build = ["sh", "-c", "npm install && npm run build"]

[[ports]]
localPort = 3000
externalPort = 80